<ul class="nav nav-main">
	<li class="@ViewBag.ADashboard">
		<a class="nav-link" href="/Panel/">
			<i class="bx bx-home-alt" aria-hidden="true"></i>
			<span>Dashboard</span>
		</a>
	</li>
	<li class="@ViewBag.ACategory">
		<a class="nav-link" href="/Category/Create">
			<i class="fas fa-list icon-category"></i>
			<span>Category</span>
		</a>
	</li>
	<li class="@ViewBag.ACourse">
		<a class="nav-link" href="/Course/Index">
			<i class="bx bx-book-open icon-course" aria-hidden="true"></i>
			<span>Course</span>
		</a>
	</li>

</ul>