@{
    Layout = "_LayoutPanel";
    ViewBag.ADashboard = "nav-active";
}

@section Styles {
    <style>
        .content {
            text-align: center;
            margin-top: 50px;
        }

            .content h1 {
                font-size: 32px;
                color: #333;
                margin-bottom: 20px;
            }

            .content p {
                font-size: 18px;
                color: #666;
                line-height: 1.6;
            }
    </style>
}

@section Scripts {

}

<div class="content">
    <h1>Kurs Materyal  İçerik Düzenleme Paneli</h1>
</div>
